doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        script(src='/javascripts/dat.gui.min.js')
        script(src='https://d3js.org/d3.v4.min.js')
    body
        block content
        script(src='/javascripts/mapservice.js')
        script(src='/javascripts/map.js')
        script(src='/javascripts/vehicles.js')
        script(src='/javascripts/routes.js')
        script(src='/javascripts/main.js')
